<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>原图</string>
			<key>whiteValue</key>
			<string>0</string>
			<key>buffingValue</key>
			<string>0</string>
			<key>ruddinessValue</key>
			<string>0</string>
			<key>bigEye_minValue</key>
			<string>0</string>
			<key>bigEye_maxValue</key>
			<string>0</string>
			<key>bigEye_defaultValue</key>
			<string>0</string>
			<key>eyeBrown_defaultValue</key>
			<string>0</string>
			<key>eyeBrown_minValue</key>
			<string>0</string>
			<key>eyeBrown_maxValue</key>
			<string>0</string>
			<key>eyeDistance_defaultValue</key>
			<string>0</string>
			<key>eyeDistance_minValue</key>
			<string>0</string>
			<key>eyeDistance_maxValue</key>
			<string>0</string>
			<key>eyeAngle_defaultValue</key>
			<string>0</string>
			<key>eyeAngle_minValue</key>
			<string>0</string>
			<key>eyeAngle_maxValue</key>
			<string>0</string>
			<key>face_defaultValue</key>
			<string>0</string>
			<key>face_minValue</key>
			<string>0</string>
			<key>face_maxValue</key>
			<string>0</string>
			<key>mouth_defaultValue</key>
			<string>0</string>
			<key>mouth_minValue</key>
			<string>0</string>
			<key>mouth_maxValue</key>
			<string>0</string>
			<key>nose_defaultValue</key>
			<string>0</string>
			<key>nose_minValue</key>
			<string>0</string>
			<key>nose_maxValue</key>
			<string>0</string>
			<key>chin_defaultValue</key>
			<string>0</string>
			<key>chin_minValue</key>
			<string>0</string>
			<key>chin_maxValue</key>
			<string>0</string>
			<key>forehead_defaultValue</key>
			<string>0</string>
			<key>forehead_minValue</key>
			<string>0</string>
			<key>forehead_maxValue</key>
			<string>0</string>
			<key>longnose_defaultValue</key>
			<string>0</string>
			<key>longnose_minValue</key>
			<string>0</string>
			<key>longnose_maxValue</key>
			<string>0</string>
			<key>shaveFace_defaultValue</key>
			<string>0</string>
			<key>shaveFace_minValue</key>
			<string>0</string>
			<key>shaveFace_maxValue</key>
			<string>0</string>
			<key>eyeAlae_defaultValue</key>
			<string>0</string>
			<key>eyeAlae_minValue</key>
			<string>0</string>
			<key>eyeAlae_maxValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>标准</string>
			<key>whiteValue</key>
			<string>3</string>
			<key>buffingValue</key>
			<string>3</string>
			<key>ruddinessValue</key>
			<string>2</string>
			<key>bigEye_minValue</key>
			<string>37</string>
			<key>bigEye_maxValue</key>
			<string>44</string>
			<key>bigEye_defaultValue</key>
			<string>37</string>
			<key>eyeBrown_defaultValue</key>
			<string>0</string>
			<key>eyeBrown_minValue</key>
			<string>0</string>
			<key>eyeBrown_maxValue</key>
			<string>0</string>
			<key>eyeDistance_defaultValue</key>
			<string>72</string>
			<key>eyeDistance_minValue</key>
			<string>68</string>
			<key>eyeDistance_maxValue</key>
			<string>84</string>
			<key>eyeAngle_defaultValue</key>
			<string>52</string>
			<key>eyeAngle_minValue</key>
			<string>46</string>
			<key>eyeAngle_maxValue</key>
			<string>56</string>
			<key>face_defaultValue</key>
			<string>55</string>
			<key>face_minValue</key>
			<string>49</string>
			<key>face_maxValue</key>
			<string>58</string>
			<key>mouth_defaultValue</key>
			<string>0</string>
			<key>mouth_minValue</key>
			<string>0</string>
			<key>mouth_maxValue</key>
			<string>0</string>
			<key>nose_defaultValue</key>
			<string>0</string>
			<key>nose_minValue</key>
			<string>0</string>
			<key>nose_maxValue</key>
			<string>0</string>
			<key>chin_defaultValue</key>
			<string>0</string>
			<key>chin_minValue</key>
			<string>0</string>
			<key>chin_maxValue</key>
			<string>0</string>
			<key>forehead_defaultValue</key>
			<string>0</string>
			<key>forehead_minValue</key>
			<string>0</string>
			<key>forehead_maxValue</key>
			<string>0</string>
			<key>longnose_defaultValue</key>
			<string>41</string>
			<key>longnose_minValue</key>
			<string>35</string>
			<key>longnose_maxValue</key>
			<string>41</string>
			<key>shaveFace_defaultValue</key>
			<string>0</string>
			<key>shaveFace_minValue</key>
			<string>0</string>
			<key>shaveFace_maxValue</key>
			<string>0</string>
			<key>eyeAlae_defaultValue</key>
			<string>55</string>
			<key>eyeAlae_minValue</key>
			<string>50</string>
			<key>eyeAlae_maxValue</key>
			<string>55</string>
		</dict>
		<dict>
			<key>title</key>
			<string>优雅</string>
			<key>whiteValue</key>
			<string>2</string>
			<key>buffingValue</key>
			<string>6</string>
			<key>ruddinessValue</key>
			<string>5</string>
			<key>bigEye_defaultValue</key>
			<string>28</string>
			<key>bigEye_minValue</key>
			<string>22</string>
			<key>bigEye_maxValue</key>
			<string>32</string>
			<key>eyeBrown_defaultValue</key>
			<string>0</string>
			<key>eyeBrown_minValue</key>
			<string>0</string>
			<key>eyeBrown_maxValue</key>
			<string>0</string>
			<key>eyeDistance_defaultValue</key>
			<string>0</string>
			<key>eyeDistance_minValue</key>
			<string>0</string>
			<key>eyeDistance_maxValue</key>
			<string>0</string>
			<key>eyeAngle_defaultValue</key>
			<string>55</string>
			<key>eyeAngle_minValue</key>
			<string>46</string>
			<key>eyeAngle_maxValue</key>
			<string>58</string>
			<key>face_defaultValue</key>
			<string>37</string>
			<key>face_minValue</key>
			<string>28</string>
			<key>face_maxValue</key>
			<string>44</string>
			<key>mouth_defaultValue</key>
			<string>58</string>
			<key>mouth_minValue</key>
			<string>50</string>
			<key>mouth_maxValue</key>
			<string>67</string>
			<key>nose_defaultValue</key>
			<string>0</string>
			<key>nose_minValue</key>
			<string>0</string>
			<key>nose_maxValue</key>
			<string>0</string>
			<key>chin_defaultValue</key>
			<string>27</string>
			<key>chin_minValue</key>
			<string>23</string>
			<key>chin_maxValue</key>
			<string>30</string>
			<key>forehead_defaultValue</key>
			<string>80</string>
			<key>forehead_minValue</key>
			<string>77</string>
			<key>forehead_maxValue</key>
			<string>86</string>
			<key>longnose_defaultValue</key>
			<string>20</string>
			<key>longnose_minValue</key>
			<string>13</string>
			<key>longnose_maxValue</key>
			<string>27</string>
			<key>shaveFace_defaultValue</key>
			<string>0</string>
			<key>shaveFace_minValue</key>
			<string>0</string>
			<key>shaveFace_maxValue</key>
			<string>0</string>
			<key>eyeAlae_defaultValue</key>
			<string>77</string>
			<key>eyeAlae_minValue</key>
			<string>74</string>
			<key>eyeAlae_maxValue</key>
			<string>85</string>
		</dict>
		<dict>
			<key>title</key>
			<string>精致</string>
			<key>whiteValue</key>
			<string>8</string>
			<key>buffingValue</key>
			<string>4</string>
			<key>ruddinessValue</key>
			<string>1</string>
			<key>bigEye_minValue</key>
			<string>64</string>
			<key>bigEye_maxValue</key>
			<string>56</string>
			<key>bigEye_defaultValue</key>
			<string>67</string>
			<key>eyeBrown_defaultValue</key>
			<string>26</string>
			<key>eyeBrown_minValue</key>
			<string>20</string>
			<key>eyeBrown_maxValue</key>
			<string>30</string>
			<key>eyeDistance_defaultValue</key>
			<string>65</string>
			<key>eyeDistance_minValue</key>
			<string>61</string>
			<key>eyeDistance_maxValue</key>
			<string>73</string>
			<key>eyeAngle_defaultValue</key>
			<string>0</string>
			<key>eyeAngle_minValue</key>
			<string>0</string>
			<key>eyeAngle_maxValue</key>
			<string>0</string>
			<key>face_defaultValue</key>
			<string>55</string>
			<key>face_minValue</key>
			<string>48</string>
			<key>face_maxValue</key>
			<string>58</string>
			<key>mouth_defaultValue</key>
			<string>70</string>
			<key>mouth_minValue</key>
			<string>65</string>
			<key>mouth_maxValue</key>
			<string>78</string>
			<key>nose_defaultValue</key>
			<string>71</string>
			<key>nose_minValue</key>
			<string>64</string>
			<key>nose_maxValue</key>
			<string>74</string>
			<key>chin_defaultValue</key>
			<string>38</string>
			<key>chin_minValue</key>
			<string>32</string>
			<key>chin_maxValue</key>
			<string>42</string>
			<key>forehead_defaultValue</key>
			<string>70</string>
			<key>forehead_minValue</key>
			<string>66</string>
			<key>forehead_maxValue</key>
			<string>73</string>
			<key>longnose_defaultValue</key>
			<string>0</string>
			<key>longnose_minValue</key>
			<string>0</string>
			<key>longnose_maxValue</key>
			<string>0</string>
			<key>shaveFace_defaultValue</key>
			<string>13</string>
			<key>shaveFace_minValue</key>
			<string>0</string>
			<key>shaveFace_maxValue</key>
			<string>25</string>
			<key>eyeAlae_defaultValue</key>
			<string>26</string>
			<key>eyeAlae_minValue</key>
			<string>20</string>
			<key>eyeAlae_maxValue</key>
			<string>29</string>
		</dict>
		<dict>
			<key>title</key>
			<string>可爱</string>
			<key>whiteValue</key>
			<string>5</string>
			<key>buffingValue</key>
			<string>5</string>
			<key>ruddinessValue</key>
			<string>0</string>
			<key>bigEye_minValue</key>
			<string>69</string>
			<key>bigEye_maxValue</key>
			<string>66</string>
			<key>bigEye_defaultValue</key>
			<string>73</string>
			<key>eyeBrown_defaultValue</key>
			<string>0</string>
			<key>eyeBrown_minValue</key>
			<string>0</string>
			<key>eyeBrown_maxValue</key>
			<string>0</string>
			<key>eyeDistance_defaultValue</key>
			<string>0</string>
			<key>eyeDistance_minValue</key>
			<string>0</string>
			<key>eyeDistance_maxValue</key>
			<string>0</string>
			<key>eyeAngle_defaultValue</key>
			<string>0</string>
			<key>eyeAngle_minValue</key>
			<string>0</string>
			<key>eyeAngle_maxValue</key>
			<string>0</string>
			<key>face_defaultValue</key>
			<string>62</string>
			<key>face_minValue</key>
			<string>55</string>
			<key>face_maxValue</key>
			<string>68</string>
			<key>mouth_defaultValue</key>
			<string>53</string>
			<key>mouth_minValue</key>
			<string>50</string>
			<key>mouth_maxValue</key>
			<string>60</string>
			<key>nose_defaultValue</key>
			<string>78</string>
			<key>nose_minValue</key>
			<string>74</string>
			<key>nose_maxValue</key>
			<string>84</string>
			<key>chin_defaultValue</key>
			<string>86</string>
			<key>chin_minValue</key>
			<string>80</string>
			<key>chin_maxValue</key>
			<string>100</string>
			<key>forehead_defaultValue</key>
			<string>92</string>
			<key>forehead_minValue</key>
			<string>85</string>
			<key>forehead_maxValue</key>
			<string>100</string>
			<key>longnose_defaultValue</key>
			<string>0</string>
			<key>longnose_minValue</key>
			<string>0</string>
			<key>longnose_maxValue</key>
			<string>0</string>
			<key>shaveFace_defaultValue</key>
			<string>39</string>
			<key>shaveFace_minValue</key>
			<string>37</string>
			<key>shaveFace_maxValue</key>
			<string>47</string>
			<key>eyeAlae_defaultValue</key>
			<string>12</string>
			<key>eyeAlae_minValue</key>
			<string>0</string>
			<key>eyeAlae_maxValue</key>
			<string>15</string>
		</dict>
		<dict>
			<key>title</key>
			<string>自然</string>
			<key>whiteValue</key>
			<string>3</string>
			<key>buffingValue</key>
			<string>4</string>
			<key>ruddinessValue</key>
			<string>3</string>
			<key>bigEye_minValue</key>
			<string>23</string>
			<key>bigEye_maxValue</key>
			<string>10</string>
			<key>bigEye_defaultValue</key>
			<string>28</string>
			<key>eyeBrown_defaultValue</key>
			<string>0</string>
			<key>eyeBrown_minValue</key>
			<string>0</string>
			<key>eyeBrown_maxValue</key>
			<string>0</string>
			<key>eyeDistance_defaultValue</key>
			<string>0</string>
			<key>eyeDistance_minValue</key>
			<string>0</string>
			<key>eyeDistance_maxValue</key>
			<string>0</string>
			<key>eyeAngle_defaultValue</key>
			<string>0</string>
			<key>eyeAngle_minValue</key>
			<string>0</string>
			<key>eyeAngle_maxValue</key>
			<string>0</string>
			<key>face_defaultValue</key>
			<string>30</string>
			<key>face_minValue</key>
			<string>20</string>
			<key>face_maxValue</key>
			<string>37</string>
			<key>mouth_defaultValue</key>
			<string>53</string>
			<key>mouth_minValue</key>
			<string>50</string>
			<key>mouth_maxValue</key>
			<string>55</string>
			<key>nose_defaultValue</key>
			<string>78</string>
			<key>nose_minValue</key>
			<string>74</string>
			<key>nose_maxValue</key>
			<string>84</string>
			<key>chin_defaultValue</key>
			<string>52</string>
			<key>chin_minValue</key>
			<string>48</string>
			<key>chin_maxValue</key>
			<string>55</string>
			<key>forehead_defaultValue</key>
			<string>0</string>
			<key>forehead_minValue</key>
			<string>0</string>
			<key>forehead_maxValue</key>
			<string>0</string>
			<key>longnose_defaultValue</key>
			<string>35</string>
			<key>longnose_minValue</key>
			<string>30</string>
			<key>longnose_maxValue</key>
			<string>40</string>
			<key>shaveFace_defaultValue</key>
			<string>19</string>
			<key>shaveFace_minValue</key>
			<string>15</string>
			<key>shaveFace_maxValue</key>
			<string>30</string>
			<key>eyeAlae_defaultValue</key>
			<string>13</string>
			<key>eyeAlae_minValue</key>
			<string>10</string>
			<key>eyeAlae_maxValue</key>
			<string>20</string>
		</dict>
		<dict>
			<key>title</key>
			<string>网红</string>
			<key>whiteValue</key>
			<string>9</string>
			<key>buffingValue</key>
			<string>5</string>
			<key>ruddinessValue</key>
			<string>7</string>
			<key>bigEye_minValue</key>
			<string>72</string>
			<key>bigEye_maxValue</key>
			<string>65</string>
			<key>bigEye_defaultValue</key>
			<string>80</string>
			<key>eyeBrown_defaultValue</key>
			<string>55</string>
			<key>eyeBrown_minValue</key>
			<string>52</string>
			<key>eyeBrown_maxValue</key>
			<string>62</string>
			<key>eyeDistance_defaultValue</key>
			<string>66</string>
			<key>eyeDistance_minValue</key>
			<string>53</string>
			<key>eyeDistance_maxValue</key>
			<string>73</string>
			<key>eyeAngle_defaultValue</key>
			<string>77</string>
			<key>eyeAngle_minValue</key>
			<string>63</string>
			<key>eyeAngle_maxValue</key>
			<string>81</string>
			<key>face_defaultValue</key>
			<string>85</string>
			<key>face_minValue</key>
			<string>78</string>
			<key>face_maxValue</key>
			<string>90</string>
			<key>mouth_defaultValue</key>
			<string>80</string>
			<key>mouth_minValue</key>
			<string>73</string>
			<key>mouth_maxValue</key>
			<string>83</string>
			<key>nose_defaultValue</key>
			<string>87</string>
			<key>nose_minValue</key>
			<string>83</string>
			<key>nose_maxValue</key>
			<string>100</string>
			<key>chin_defaultValue</key>
			<string>70</string>
			<key>chin_minValue</key>
			<string>65</string>
			<key>chin_maxValue</key>
			<string>78</string>
			<key>forehead_defaultValue</key>
			<string>77</string>
			<key>forehead_minValue</key>
			<string>71</string>
			<key>forehead_maxValue</key>
			<string>80</string>
			<key>longnose_defaultValue</key>
			<string>0</string>
			<key>longnose_minValue</key>
			<string>0</string>
			<key>longnose_maxValue</key>
			<string>0</string>
			<key>shaveFace_defaultValue</key>
			<string>38</string>
			<key>shaveFace_minValue</key>
			<string>22</string>
			<key>shaveFace_maxValue</key>
			<string>48</string>
			<key>eyeAlae_defaultValue</key>
			<string>55</string>
			<key>eyeAlae_minValue</key>
			<string>48</string>
			<key>eyeAlae_maxValue</key>
			<string>58</string>
		</dict>
		<dict>
			<key>title</key>
			<string>脱俗</string>
			<key>whiteValue</key>
			<string>6</string>
			<key>buffingValue</key>
			<string>4</string>
			<key>ruddinessValue</key>
			<string>0</string>
			<key>bigEye_minValue</key>
			<string>40</string>
			<key>bigEye_maxValue</key>
			<string>35</string>
			<key>bigEye_defaultValue</key>
			<string>45</string>
			<key>eyeBrown_defaultValue</key>
			<string>0</string>
			<key>eyeBrown_minValue</key>
			<string>0</string>
			<key>eyeBrown_maxValue</key>
			<string>0</string>
			<key>eyeDistance_defaultValue</key>
			<string>42</string>
			<key>eyeDistance_minValue</key>
			<string>37</string>
			<key>eyeDistance_maxValue</key>
			<string>47</string>
			<key>eyeAngle_defaultValue</key>
			<string>77</string>
			<key>eyeAngle_minValue</key>
			<string>63</string>
			<key>eyeAngle_maxValue</key>
			<string>81</string>
			<key>face_defaultValue</key>
			<string>40</string>
			<key>face_minValue</key>
			<string>36</string>
			<key>face_maxValue</key>
			<string>46</string>
			<key>mouth_defaultValue</key>
			<string>0</string>
			<key>mouth_minValue</key>
			<string>0</string>
			<key>mouth_maxValue</key>
			<string>0</string>
			<key>nose_defaultValue</key>
			<string>52</string>
			<key>nose_minValue</key>
			<string>50</string>
			<key>nose_maxValue</key>
			<string>58</string>
			<key>chin_defaultValue</key>
			<string>31</string>
			<key>chin_minValue</key>
			<string>29</string>
			<key>chin_maxValue</key>
			<string>39</string>
			<key>forehead_defaultValue</key>
			<string>0</string>
			<key>forehead_minValue</key>
			<string>0</string>
			<key>forehead_maxValue</key>
			<string>0</string>
			<key>longnose_defaultValue</key>
			<string>0</string>
			<key>longnose_minValue</key>
			<string>0</string>
			<key>longnose_maxValue</key>
			<string>0</string>
			<key>shaveFace_defaultValue</key>
			<string>54</string>
			<key>shaveFace_minValue</key>
			<string>50</string>
			<key>shaveFace_maxValue</key>
			<string>60</string>
			<key>eyeAlae_defaultValue</key>
			<string>53</string>
			<key>eyeAlae_minValue</key>
			<string>50</string>
			<key>eyeAlae_maxValue</key>
			<string>62</string>
		</dict>
		<dict>
			<key>title</key>
			<string>高雅</string>
			<key>whiteValue</key>
			<string>4</string>
			<key>buffingValue</key>
			<string>6</string>
			<key>ruddinessValue</key>
			<string>4</string>
			<key>bigEye_minValue</key>
			<string>29</string>
			<key>bigEye_maxValue</key>
			<string>22</string>
			<key>bigEye_defaultValue</key>
			<string>32</string>
			<key>eyeBrown_defaultValue</key>
			<string>19</string>
			<key>eyeBrown_minValue</key>
			<string>0</string>
			<key>eyeBrown_maxValue</key>
			<string>27</string>
			<key>eyeDistance_defaultValue</key>
			<string>0</string>
			<key>eyeDistance_minValue</key>
			<string>0</string>
			<key>eyeDistance_maxValue</key>
			<string>0</string>
			<key>eyeAngle_defaultValue</key>
			<string>23</string>
			<key>eyeAngle_minValue</key>
			<string>18</string>
			<key>eyeAngle_maxValue</key>
			<string>28</string>
			<key>face_defaultValue</key>
			<string>17</string>
			<key>face_minValue</key>
			<string>12</string>
			<key>face_maxValue</key>
			<string>22</string>
			<key>mouth_defaultValue</key>
			<string>56</string>
			<key>mouth_minValue</key>
			<string>50</string>
			<key>mouth_maxValue</key>
			<string>63</string>
			<key>nose_defaultValue</key>
			<string>70</string>
			<key>nose_minValue</key>
			<string>60</string>
			<key>nose_maxValue</key>
			<string>75</string>
			<key>chin_defaultValue</key>
			<string>47</string>
			<key>chin_minValue</key>
			<string>37</string>
			<key>chin_maxValue</key>
			<string>54</string>
			<key>forehead_defaultValue</key>
			<string>55</string>
			<key>forehead_minValue</key>
			<string>50</string>
			<key>forehead_maxValue</key>
			<string>61</string>
			<key>longnose_defaultValue</key>
			<string>7</string>
			<key>longnose_minValue</key>
			<string>0</string>
			<key>longnose_maxValue</key>
			<string>10</string>
			<key>shaveFace_defaultValue</key>
			<string>61</string>
			<key>shaveFace_minValue</key>
			<string>56</string>
			<key>shaveFace_maxValue</key>
			<string>70</string>
			<key>eyeAlae_defaultValue</key>
			<string>27</string>
			<key>eyeAlae_minValue</key>
			<string>23</string>
			<key>eyeAlae_maxValue</key>
			<string>24</string>
		</dict>
	</array>
</array>
</plist>
